
// For the Footer that appears at the bottom of every page

footer
    min-height: 300px
    background: $footerBackground
    margin-top: 70px
    .link-bar
        background: $footerBorder
        padding: 8px
        text-align: center
        a
            display: inline-block
            width: 54px
            height: 54px
            &:hover
                filter: brightness(115%)
                -webkit-filter: brightness(115%)
