
// For the header, nav, and breadcrumbs that appear on every page.

header
    line-height: 1.3em
    text-align: center
    img
        width: 206px
        border: 10px outset #3C3C39
        border-radius: 75% 79%
        margin-top: 40px
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.74)
        filter: contrast(42%) brightness(93%) sepia() blur(1px)
        -webkit-filter: contrast(42%) brightness(93%) sepia() blur(1px)
        opacity: 0.73
        transform: rotateZ(-1deg)
        transition: 0.5s ease all;
        &:hover
            filter: contrast(63%) brightness(100%) sepia() blur(1px)
            -webkite-filter: contrast(63%) brightness(100%) sepia() blur(1px)
            transform: rotateZ(5deg)
    h1
        margin: 30px 0px
        padding: 0px
        font-size: 3rem
    nav
        margin: 20px 0px 0px 0px

.first-title:after
    content: '/'
    display: inline-block
    padding: 0px 0px 0px 6px
    font-size: 29px
    vertical-align: -4px
