
// General layout classes

.wrapper
    max-width: 1403px
    margin: 0px auto
    padding: 20px

.full,
.half,
.thirds,
.card
    display: inline-block
    font-size: 18px
    vertical-align: top

.full
    width: 100%

.half
    width: 48%
    width: calc(50% - 10px)

.thirds
    width: 33.33333334%

.two-thirds
    width: 66.66666666%

.card
    width: calc(50% - 10px)
