
// General layout classes

.wrapper
    max-width: 1403px
    margin: 0px auto

.full,
.half,
.thirds
    display: inline-block
    font-size: 18px
    text-align: center
    vertical-align: top

.full
    width: 100%

.half
    width: 50%

.thirds
    width: 33.33333334%
