
// Media Queries that alter the styles on the page depending on browser width

@media screen and (max-width: 980px)
    .half
        width: 100%

// sass-lint:disable indentation

@media screen and (max-width: 700px)
    .thirds
        width: 100%

@media screen and (max-width: 540px)
    .project
        flex-direction: column
        padding: 10px
        img
            max-height: 144px

// sass-lint:enable indentation
