
.project
    position: relative
    display: inline-flex
    align-items: center
    width: 50%
    height: 200px
    font-size: 20px 
    vertical-align: top
    div
        margin: 0px 0px 0px 10px
    img
        max-width: 200px
        float: left
        vertical-align: middle
