
.project
    position: relative
    display: inline-flex
    align-items: center
    min-height: 200px
    font-size: 20px
    vertical-align: top
    div
        margin: 0px 0px 0px 10px
    img
        max-height: 100px
        float: left
        vertical-align: middle
    .type
        margin-bottom: 10px
    .description
        margin-top: 10px
        font-family: $secondaryFont
        font-size: 15px
        line-height: 1.4
