
// Supplies mixins and variables that other .scss files can call

$logoFont: sans-serif
$commonFont: 'Arbutus Slab', "Helvetica Neue", sans-serif
$secondaryFont: 'Source Sans Pro', sans-serif

$backgroundColor: #EFEEE3
$brightText: #FAF9EE
$brightBackground: rgba(255, 255, 255, 0.2)
$primary: #585753
$footerBackground: #3C3B39
$footerBackgroundDark: #252423
$footerBorder: #54524F
$footerText: #C1C0B6
$activeButton: #DF5C42
$activeBadgeText: #AC3E2F
$lightBorder: #DEDDD3
$quoteBorder: #96E0A5
$quoteBorderActive: rgba(193, 199, 125, 0.3)
$cardHeaderBackground: rgba(255, 255, 255, 0.5)

$black: #010101
$black09: rgba(0, 0, 0, 0.09)
$black74: rgba(0, 0, 0, 0.74)
$backgroundColor50: rgba($backgroundColor, 0.5)
$primary10: rgba($primary, 0.1)
$primary20: rgba($primary, 0.2)
$primary21: rgba($primary, 0.21)
$primary37: rgba($primary, 0.37)
$primary60: rgba($primary, 0.6)
$primary80: rgba($primary, 0.8)
$activeButton85: rgba($activeButton, 0.85)
