
// Supplies mixins and variables that other .scss files can call

$logoFont: sans-serif
$commonFont: 'Arbutus Slab', "Helvetica Neue", sans-serif
$secondaryFont: 'Source Sans Pro', sans-serif

$backgroundColor: #EFEEE3
$primary: #585753
