
// Supplies mixins and variables that other .scss files can call

$logoFont: sans-serif
$commonFont: 'Arbutus Slab', "Helvetica Neue", sans-serif
$secondaryFont: 'Source Sans Pro', sans-serif

$backgroundColor: #EFEEE3
$brightText: #FAF9EE
$primary: #585753
$activeButton: #2F832A
$activeBadgeText: lighten(desaturate(adjust-hue($activeButton, -3), 30), 6)
